.app {
  margin-top: 20vh;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  border: 1px dotted;
  width: 50vw;
  height: 50vh;

  .tabs {

    width: 100%;
    height: 100%;

    .ant-tabs-content,
    .ant-tabs-tabpane {
      width: 100%;
      height: 100%;
    }

    .app-context {

      width: 100%;
      height: 100%;



      display: flex;
      justify-content: center;
      align-items: center;

      .app-upload {
        .btns {
          margin-top: 10px;
        }

        .download {
          margin-left: 10px;
        }
      }

    }
  }
}
